# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db
desktop.ini

# SQLite database files (generated locally)
*.db
*.sqlite

# Zip files
*.zip
